<mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>About you</ng-template>
            <div class="retrospective-register-container">
                <mat-form-field>
                    <input matInput placeholder="Which is the sprint?" formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Who is your team?" formControlName="firstCtrl" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="selectRetrospectiveTemplateFormGroup">
        <form [formGroup]="selectRetrospectiveTemplateFormGroup">
            <ng-template matStepLabel>Select your template</ng-template>

            <mat-radio-group class="retrospective-template-radio-group" [(ngModel)]="idTemplate">
                <mat-radio-button class="retrospective-template-radio-group" formControlName = "selectRetrospectiveTemplateFormControlName" *ngFor="let template of templates" [value]="template.id">
                    {{template.title}}
                </mat-radio-button>
            </mat-radio-group>
            <div class="example-selected-value">Your favorite season is: {{idTemplate}}</div>



            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Share with your team</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>